.activitiesContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "main";
    color:white;
    background-Color: grey;
    border-radius: 10px;
    justify-self: stretch;
    grid-area: activities;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
}

th, td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 40%;
    margin: 0px;
}

tr:nth-child(even) {
    background-color: #A9A9A9;
}